
</br>
 <%= render "searchbar" %>
</br>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <div class="row">
        <% @vinyls.each do |vinyl| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "card", vinyl: vinyl %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <p class= "text-center">map here!</p>
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>

  </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
