
</br>
 <%= render "searchbar" %>
 </br>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <div class="row">
        <% @vinyls.each do |vinyl| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "card", vinyl: vinyl %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <p class= "text-center">map here!</p>
      <div id="map"></div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @vinyl_coordinates %>;
      alert('vinyl coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
