<%= simple_form_for([@vinyl, @booking], html:{ multipart: true }) do |f| %>
  <div class="col-xs-12">
    <%= f.input :startdate, as: :date, html5: true %>
  </div>
  <div class="col-xs-12">
    <%= f.input :enddate, as: :date, html5: true %>
  </div>

  <div class="col-xs-12">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
