<div id="footer">

  <ul class='list-inline text-center'>
    <li><a href="https://www.facebook.com/Discogs" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://twitter.com/discogs" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://instagram.com/discogs/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    <li><a href="http://discogs-official.tumblr.com//" target="_blank"><i class="fa fa-tumblr"></i></a></li>
    <li><a href="https://soundcloud.com/discogs" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
  </ul>
  <p class='text-center copy'> ©TomJu, Inc.</p>

</div>
