.bookingcard {
  position: relative;
  height: 180px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px;
  border: 1px;
  background-color: $gray-dark;
}

.bookingcard-price-bg {
  background-color: #383838;
}

.bookingcard-price-number {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bookingcard-price-perday {
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.bookingcard-form {
  font-size: 18px;
  position: absolute;
  bottom: 10px;
}

.booking-date {
  border: 2px;
  border-radius: 1px;
  font-size: 12px;
  background: #ffffff;
  color: #42454e;
  padding: 6px 8px;
  margin: 1px;
}

// .bookingcard input {
//     display: inline-block;
//     width:100px;
// }

.bookingcard label {
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0 0px 0px;

}
