.image-container{
  background-size: cover;
  border-radius: 3px;
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.image-medium{
  background-size: cover;
  border-radius: 3px;
  position: relative;
  margin-top: 10px;
  width: 30%;
}
