#searchbar {
  background: #42454e;
  border-radius: 1px;
  display: inline-block;
  padding: 7px;
}

.field {
  border: 2px;
  border-radius: 1px;
  font-size: 12px;
  background: #ffffff;
  color: #42454e;
  min-width: 200px;
  padding: 6px 8px;
}

.search-date {
  border: 2px;
  border-radius: 1px;
  font-size: 12px;
  background: #ffffff;
  color: #42454e;
  max-width: 70px;
  padding: 6px 8px;
  margin: 1px;
}



