#searchbar {
  background: $gray-dark;
  border-radius: 3px;
  display: inline-block;
  padding: 8px;
  width: 100%;
}

.field {
  border: 2px;
  border-radius: 1px;
  font-size: 12px;
  background: #ffffff;
  color: #42454e;
  min-width: 200px;
  padding: 6px 8px;
}

.search-date {
  border: 2px;
  border-radius: 1px;
  font-size: 12px;
  background: #ffffff;
  color: #42454e;
  max-width: 90px;
  padding: 6px 8px;
  margin: 1px;
}



